{% extends "mymovieapp/base.html" %} {% block content %}

<main class="page">
  
  <section class='about'>
  <div class="container-wrapper text-center">
    <div class="about-title mb-3">
        <h1>Favorites List</h1>
      </div>
    </div>
  </section>
  
  <section class="movies-container">
    <div class="tags-container">
      
    </div>

    <div > 
        <!-- class="movies-list" -->

        {% for movie, backdrop in context %}
        <!-- single movie -->
        <a href="{% url 'movie-detail' movie_id=movie.movie_id %}" class="movie">
          <img
            src="{{ backdrop }}"
            class="img movie-img"
            alt="">
          <h5>{{ movie }}</h5>
          <p>{{ movie.overview }}</p>
        </a>
        <div>
            <a href="{% url 'favorite_add' movie.movie_id %}" class="btn btn-outline-info">Remove from favorites list</a>
        </div>
        <!-- end of single movie -->
      {% endfor %}


    </div>

  </section>
</main>
<!-- end of main -->

<!-- <script src="./js/app.js"></script> -->

    
{% endblock content %}
