<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1 align="center">Welcome to the movie site</h1>
    <center>
    <table border="1" width="800">
        <tr>
        <th>ID</th>
        <th>Movie Name</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Actors</th>
        <th>Duration</th>
        <th>Rating</th>
        </tr>

        <tr>

        </tr>
    </table>
    </center>
</body>
</html>
