{% extends "mymovieapp/base.html" %} {% block content %}
<div class="jumbotron">
  <div class="container">
    <center>
      <div class="p-search-bar">
        <div class="col-md-6 col-md-offset-3">
          <form
            id="p-search-bar"
            role="search"
            method="POST"
            action="{% url 'movie-search' %}"
          >
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
                <input
                  class="form-control"
                  type="search"
                  id="query"
                  name="searched"
                  placeholder="Search"
                  aria-label="Search through site content"
                />
                <span class="input-group-btn">
                  <button class="btn btn-success" type="submit">
                    <i class="bi bi-search"></i> Search
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </center>
  </div>
</div>

    <section class="movies-container">
      <div class="tags-container">
      </div>
      <center>
        {% if searched %}
        <h1>You Searched for {{ searched }}</h1>
        <br/>
  
      <div class="movies-list">
        {% for movie, backdrop in context %}
          <!-- single movie -->
          <a href="{% url 'movie-detail' movie_id=movie.movie_id %}" class="movie">
            <img
              src="{{ backdrop }}"
              class="img movie-img"
              alt="">
            <h5>{{ movie }}</h5>
            <p>{{ movie.overview }}</p>
          </a>
          <!-- end of single movie -->
        {% endfor %}
      </div>
      {% else %}
      <h1>Search a movie!</h1>
      {% endif %}
    </center>
  
    </section>
    {% endblock content %}
  </div>
</div>