<!-- {% extends "mymovieapp/base.html" %} {% block content %}
<div class="movie-page">
    <section class="movie-hero">
      <img
        src="{{ info.image }}"
        class="img movie-hero-img"
        alt="">
     <!-- <img src="./images/bg1.jpg" class="img movie-hero-img" />
      <article class="movie-info">
        <h2>{{ info.title }}</h2>
        <!-- <img
        src="{{ info.image }}"
        class="img movie-img"
        alt="">
        <br>
        {{ summary }}
        <div class="movie-icons">
          <article>
            <h5>prep time</h5>
            <p>{{ info.time }} minutes</p>
          </article>
          <article>
            <h5>servings</h5>
            <p>{{ info.servings }}</p>
          </article>
          <article>
            <h5>calories</h5>
            <p>{{ info.calories }}</p>
          </article>
        </div>
        <!-- <div class="movie-nutrition">
          <article>
            <h6>Calories</h6>
            <p>american</p>
          </article>
          <article>
            <h6>Carbs</h6>
            <p>30 min.</p>
          </article>
          <article> 
            <h6>Fat</h6>
            <p>15 min.</p>
          </article>
          <article>  
            <h6>Protein</h6>
            <p>6 servings</p>
          </article> -->

        <!-- </div>
        <p class="movie-tags">
          <ul id="horizontal-list">
            Keywords : 
            <li>Pancakes</li>
            <li>Bananas</li>
            <li>Milk</li>
          </ul>
          
        </p> -->
      <!-- </article>
    </section>
    <!-- content -->
    <!-- <section class="movie-content">
      <article>
        <h4>Instructions</h4>
        <!-- single instruction
        {% for step in steps %}
        <div class="single-instruction">
          <header>
            <p>step {{ step.number }}</p>
            <div></div>
          </header>
          <p>
            {{ step.step }}
          </p>
        </div>
        {% endfor %}
        <!-- end of single instruction
      </article>
      <article class="second-column">
        <div>
          <h4>Ingredients</h4>
          {% for i in ingredients %}
          <p class="single-ingredient">{{ i }}</p>
          {% endfor %}
        </div>
        <div>
          <h4>Equipment</h4>
          {% for e in equipment %}
          <p class="single-tool">{{ e }}</p>
          {% endfor %}
        </div>
      </article>
    </section>
</div>

{% endblock content %}  {% block team-members %}{% endblock team-members %} -->