{% extends "mymovieapp/base.html" %} {% block content %}
<div class="movie-page">
    <section>
      <img src="{{ backdrop }}" class="img movie-hero-img" alt="backdrop">
      <img src="{{ poster }}" class="img movie-hero-img" alt="poster">

      {% if request.user.is_authenticated %}

      {% if fav %}
      <a href="{% url 'favorite_list' %}" class="btn btn-outline-info">Remove from Favorites</a>
      {% else %}
      
      <a href="{% url 'favorite_add' movie.movie_id %}" class="btn btn-outline-info">Add to favorites list</a>
      {% endif %}

      {% if watch %}
      <a href="{% url 'watch_list' %}" class="btn btn-outline-info">Remove from Watch list</a>
      {% else %}
      
      <a href="{% url 'watch_add' movie.movie_id %}" class="btn btn-outline-info">Add to watch list</a>
      {% endif %}

      <!-- <a href="" class="btn btn-outline-info">Add to watch list</a>

      {% else %} -->

      <div>
      <a href="{% url 'register' %}" class="btn btn-outline-info">Add to watch list</a>
      <a href="{% url 'register' %}" class="btn btn-outline-info">Add to favorites list</a>
      {% endif %}


      <article class="movie"> <!-- -info-->
        <h2>{{ movie }}</h2>
        <!-- <img
        src="{{ image }}"
        class="img movie-img"
        alt=""> -->
        <br>
        {{ movie.overview }}
        <br>
        <div class="movie-icons">
          <article>
            <h5>release date</h5>
            <p>{{ movie.release_date }}</p>
          </article>
          <article>
            <h5>rating</h5>
            <p>{{ movie.rating }}</p>
          </article>
          <!-- <article>
            <h5>calories</h5>
            <p>{{ info.calories }}</p>
          </article> -->
        </div>
        

</div>

{% endblock content %}